/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https: //mozilla.org/MPL/2.0/. */

* {
    cursor: default;
    font: normal 17px sans-serif;
    user-select: none;
}

table tr td {
    text-align: center;
}

#total td:first-child {
    font-weight: bold;
    text-align: left;
}

.subtotal {
    text-align: right;
}

.subtotal:before,
#grand-total:before,
.value:before {
    content: '$';
}

#grand-total {
    border-top: 1px solid black;
    font-weight: bold;
}

input {
    appearance: none;
    border: none;
    text-align: center;
    width: 75px;
}

button {
    border: none;
    border-radius: 10px;
    border-top: 0px solid white;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    float: left;
    font-size: 20px;
    margin: 0 0 5px 0;
    padding: 10px 0;
    text-decoration: none;
    transition: ease all .1s;
}

button:active {
    transform: translate(0, 5px);
    border-bottom: 0 solid !important;
    border-top: 5px solid white !important;
}

#clear {
    background: #E74C3C;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0 -2px #BD3E31;
    width: 100%;
}

#print {
    background: #82BF56;
    border-bottom: 5px solid #669644;
    float: left;
    text-shadow: 0 -2px #669644;
    width: 48%;
}

#options {
    background: #3498DB;
    border-bottom: 5px solid #2980B9;
    float: right;
    text-shadow: 0 -2px #2980B9;
    width: 48%;
}

img {
    float: right;
}

#receiptHeader,
#receiptFooter {
    display: none;
}

.roll {
    background-image: url(coinroller-back.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    height: 25px;
    margin: 0;
    padding: 0;
    width: 200px;
}

.roll .progress {
    background-image: url(coinroller-fill.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 0 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.hide-rolls .roll,
.hide-12-rolls #d00100 .roll,
.hide-12-rolls #d00200 .roll {
    display: none !important;
}

@media print {
    button,
    .roll {
        display: none !important;
    }
    
    #receiptHeader,
    #receiptFooter {
        display: block !important;
    }
    
    #cashCounter {
        margin-left: 20px !important;
    }
}
