/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https: //mozilla.org/MPL/2.0/. */

* {
    --font-size: 17px;
    cursor: default;
    font: normal var(--font-size) sans-serif;
    user-select: none;
}

table tr td {
    text-align: center;
}

#total td:first-child {
    font-weight: bold;
    text-align: left;
}

.value,
.subtotal {
    text-align: right;
}

.subtotal:before,
#grand-total:before,
.value:before {
    content: var(--currency-symbol);
    float: left;
}

#grand-total {
    border-top: 1px solid black;
    font-weight: bold;
}

input {
    appearance: none;
    border: none;
    text-align: center;
    width: 75px;
}

.button-row {
    display: flex;
}

button,
button * {
    cursor: pointer;
}

button {
    display: flex;
    padding: 0;
    border: none;
    align-items: center;
    width: 100%;
    flex: 1;
    margin: .2em;
    border-radius: 5px;
    overflow: hidden;
}

button:hover {
    filter: brightness(90%);
}

button:active {
    filter: brightness(70%);
}

button > div.icon {
    display: flex;
    height: 100%;
}

button > div.icon > img {
    padding: 0 1em;
    width: calc(var(--font-size) * 1.5);
}

button > div.text {
    flex: 1;
    font-size: 150%;
    font-weight: bold;
    padding: .5em 0;
}

#clear > div.icon {
    background: #BD3E31;
}

#clear > div.text {
    background: #E74C3C;
    color: white;
}

#print > div.icon {
    background: #669644;
}

#print > div.text {
    background: #82BF56;
    color: white;
}

#options > div.icon {
    background: #2980B9;
}

#options > div.text {
    background: #3498DB;
    color: white;
}

img {
    float: right;
}

#receiptHeader,
#receiptFooter {
    display: none;
}

.roll {
    height: 25px;
    margin: 0;
    padding: 3px;
    width: 200px;
    border-radius: 1000px;
    box-sizing: border-box;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.05);
}

.roll .progress {
    background: #82BF56;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 0;
    border-radius: 1000px;
}

.hide-rolls .roll,
.hide-12-rolls #d00100 .roll,
.hide-12-rolls #d00200 .roll {
    display: none !important;
}

@media print {
    button,
    .roll {
        display: none !important;
    }
    
    #receiptHeader,
    #receiptFooter {
        display: block !important;
    }
    
    #cashCounter {
        margin-left: 20px !important;
    }
}
